body{
    background-color: black;
    display: flex;
    overflow: hidden;
    flex-direction:column;
    align-items: center;
    .cont{
        position: relative;
        justify-self: center;
        display: flex;
        flex-direction:column;
        align-items: center;
        overflow-y: scroll;
        width: 2560px;
        height:1440px;
        border: red 3px solid;
        background-image: url(pages/images/map.jpg);
        }
    @media (max-width:2560px) {
       [class *= "cont"]{
        width:100vw;
        height:100vh;
       } 
    }
}