@mixin disp{
    position:relative;
    display:flex;
    flex-direction: column;
    font-family: 'Times New Roman';
}

.txt_box{
    @include disp;
    margin:12em 0em 0em 0em;
    width:70em;
    height:40em;
    justify-self: center;
    background-color:rgba(255,255,255,0.8); 
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    h1{
        margin:2em 0em 0em 1em;
    }
    .hr_a{
        position:relative;
        width:100%;
        margin:1em 0em 0em 0em;
    }
    ul{
        align-self: center;
    }  
   
}