@mixin disp{
    position: relative;
    display:flex;
    flex-direction: column;
    font-family: 'Times New Roman';
}
.txt_box{
    @include disp;
    margin:12em 0em 0em 0em;
    width:70em;
    height:40em;
    justify-self: center;
    background-color:rgba(255,255,255,0.8); 
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    h1{
        margin:2em 0em 0em 1em;
    }
    .hr_a{
        position:relative;
        margin:1em 0em 0em 0em;
        width:100%;        
    }
    p{ 
        position: relative;        
        margin:2em 0em 0em 2em;
    }
    .grd_cont_org{
        position:relative;
        margin: 2em 0em 0em 1.5em;
        display: grid;
        align-self: center;
        text-align: center;
        line-height:2em;
        width:70%;
        grid-template-columns:50% 50%;
        grid-template-rows:50px;
        column-gap: 10px;
    }
    .grd_cont_org > div{
        background-color: white;
        border-radius: 10px;
    }   
    .hr_b{
        position: relative;
        width:100%;
        margin:3em 0em 0em 0em;
    }

}