@mixin disp{
    position:relative;
    display:flex;
    flex-direction: column;
    font-family: 'Times New Roman';
    }
@mixin qry{   
    border-radius:10px;
    border:1px solid black;
    padding:5px;
    margin:2px;
   }


.txt_box{
    @include disp;
    margin:12em 0em 0em 0em;
    width:70em;
    height:40em;
    justify-self: center;
    background-color:rgba(255,255,255,0.8); 
    border-radius: 10px;
    h1{
        margin:2em 0em 0em 1em;
    }
    hr{
        position:relative;
        margin:1em 0em 0em 0em;
        width:100%;        
    }
    p{
        position:relative;
        margin:0em 0em 0em 2em;        
    }
    form {
        position:absolute;
        align-self: flex-end;
        margin:8em 2em 0em 0em;        
        .qry{
            @include qry;
            height:30px;  
            width:30em;        
        }
        .qry_cont{
            @include qry;
            height:100px;
            width:30em; 
            word-wrap: break-word;           
        }
        .qry_submit{
            @include qry;
            height:30px;
            width: 15em;
        }
    }
}