@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

@mixin box{
    position:absolute;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman';
}
@mixin imgs{
    @include box;
    font-family: 'Times New Roman';
    top:3em;
    width:20em;
}
@mixin capt{
    position: absolute;
    white-space: nowrap;
    color:white;
    font-family:  'Times New Roman';
    font-size:20px;
    
}
.newsbox_a{
    @include box;
    align-self: flex-start;
    align-items: center;
    left: 0.5em;
    top:14em;
    width:12.3em;
    height:3em;
    background-color: black;
    color:white; 
    border-radius: 30px; 
}
.newsbox_b{
    @include box;
    top:14em;
    left: 12em;
    width: 50em;
    height:3em;
    background-color:white;
    p{
      margin:0.5em 0.5em 0em 0.5em;
      line-height: 1.5;
      overflow-y: scroll;
      text-align: center;
    }
}
.eventbox{   
    @include box;
    top:18em;
    right:2em;
    width:50em;
    height:20em;
    background-color:rgba(255,255,255,0.8);
    border-radius: 20px;    
    p{
        font-family: 'Tangerine',cursive;
        text-align: center;
        font-size:3em;
        margin:0.25em 0em 0em 0em;
        background-color: cornsilk;
        color:black;
    }
    .grid_cont_event{
        margin: 0.5em 0em 0em 0em;
        font-family: 'Times New Roman';
        font-size:1em;
        width:100%;
        right:0.5em;
        display:grid;
        text-align: center;
        line-height:2;
        grid-template-columns:15% 15% 15% 51%;
        grid-template-rows:30px;
        gap: 10px;
        overflow-y:auto;
    }
    .grid_cont_event > div{
        background-color: cornsilk;
        border-radius: 10px;
        color:black
    }
}
.photobox{
    position:absolute;
    display: flex;  
    flex-direction: row;
    font-family: 'Times New Roman';
    top:39em;
    width: 100%;
    left:0em;
    height:20em;
    background-color:rgba(0,0,0,1);
    overflow-x: auto;    
    .photobox_txt{
        align-self: center;
        color: whitesmoke;
        font-family: 'Tangerine',cursive;
        font-size:3em; 
        margin-left:0.5em;       
    }
    .photobox_img_a{          
       width:22em;         
    }
    .img_capt{
        @include capt;            
    }   
}