@mixin disp{
    position:relative;
    display:flex;
    flex-direction: column;
    font-family: 'Times New Roman';
    }
@mixin qry{   
    border-radius:5px;
    border:3px solid blue;
    padding:3px;
    margin:3px;
    width:30rem;
    border: 2px solid black;
    background-color:whitesmoke;
   }  

.txt_box{
    @include disp;
    margin:12em 0em 0em 0em;
    width:70em;
    height:40em;
    justify-self: center;
    background-color:rgba(255,255,255,0.8); 
    border-radius: 10px;    
    h1{
        margin:2em 0em 0em 1em;
    }
    hr{
        position:relative;
        margin:1em 0em 0em 0em;
        width:100%;        
    }
    p{
        position:relative;
        margin:0em 0em 0em 1.5em;        
    }
    form {
        position:absolute;
        align-self: flex-end;
        margin:7em 6em 0em 0em;        
        .qry{
            @include qry;
            height:30px;
        }
        .qry_cont{
            @include qry;
            height:100px;
            word-wrap:break-word; 
            overflow-y: scroll; 
        }
        .qry_submit{
            @include qry;
            height:40px;
            width: 10em;                        
        }
        textarea {
            resize: none
        }
        .qry_submit:hover{
            cursor: pointer;
        }
    }
}